@media(max-width: 1690px){
    .container, .news-blcok, .ads-banner-large, .news-left-block, .news-right-block, .news-header{
        width: 90%;
    }
   
    .news-article {
        width: 48%;
        height: 400px;
    }
    .news-article img {
        height: 200px;
    }
    .last-news-article {
        max-width: 340px;
        width: 100%;
    }

   
}

@media(max-width: 1024px){
    .burger-menu{
        display: flex;
    }

    .nav-ul.nav-active {

        height: 100vh;
        position: absolute;
        top: 94px;
        left: -44px;
        background-color: #0F1520;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 80px;
        border: none
    }

    .nav-ul{
        display: none;
    }

    .nav-ul li{
        margin-bottom: 15px;
    }

    .search-bar{
        margin-right: 40px;
    }
    .header-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .search-bar{
        position: absolute;
        margin: 0;
        top: 48%;
        right:  20px;
    }
    .nav-active{
        border: none;
    }

    .footer-wrapper{
        flex-direction: column-reverse;
        
        
    }
    .footer-left{
        margin-top: 50px;
        max-width: 810px;
    }
    .last-news-article {
        width: 48%;
    }

}